.order-card{
    border: 1px solid rgb(227, 14, 14);
    width: 25%;
    padding: 5px;
    .order-number{
        color:rgb(227, 14, 14);
    }
    .order-product{
        margin-bottom: 15px;
    }
}